alabaster==0.7.13
atomicwrites==1.4.1
attrs==22.2.0
babel==2.11.0
backports.zoneinfo;python_version<"3.9"
certifi==2024.8.30
charset-normalizer
colorama
dateparser
docutils
idna
imagesize
importlib-metadata
importlib-resources
jinja2
joblib
markupsafe
more-itertools
numpy
packaging
pandas
pluggy
py
pygments
pyparsing
pytest
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
regex
requests
scikit-learn
scipy
setuptools
six
snowballstemmer
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
git+https://github.com/BorgwardtLab/Topf.git
transformers